<div class="center hero-unit">
	<h1>Welcome to Fazio's Last Hurrah</h1>

	<h2>
		This is the home page for remembering Tony Fazio, whom we will never see again.
	</h2>

	<%= link_to "Sign up now, you fag", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("FazioHome.jpg", alt: "Pic of Faz HERE"), 'http://rubyonrails.org/' %>
